* 
{
    margin: 0;
    padding: 0;
    font-family: 'Sulphur Point', sans-serif;
}
body 
{
    margin: 0;
    padding: 0;
    font-family: 'Sulphur Point', sans-serif;
}
.MenuHeader
{
    font-size: 50px;
    margin: auto auto;
    text-align: center;
}
.MenuBoardContainerTest
{
    width: 100%;
    min-height: 200px;
    color: white;
}
.MenuBoardContainer
{
    width: 100%;
    min-height: 40vh;
    padding-top: 20px;
    background-image: url(../img/BlackBoardBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    /*position: relative;*/
    padding-bottom: 30px;
}
.MenuKortMenuTekst
{
    width: 300px;
    height: auto;
    margin: 30px auto auto;
}
.MenuKortMenuTekst img 
{
    max-width: 100%;
    height: auto;
}
.StorMenuTekstKort
    {
        display:block;
    }
.LilleMenuTekstKort
{
    display:none;
}

.MenuTekstHolder
{
    margin: auto auto;
    width: 90%;
    min-height: auto;
}
.MenuTekstHolder img 
{
    max-width: 100%;
    height: auto;
}

/*.MenuReadMore
{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 30px;
}
*/



.DessertTyperContainer 
{
    width: 100%;
    min-height: 50%;
    margin: auto auto;
    background-color: rgb(255, 255, 255);
}

.DessertTyperCardContainer
{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      justify-items: center;
      flex-wrap: wrap;
      font-size: 30px;
      width: 100%;
      min-height: 200px;
      background-color: #ffffff;
}

.DessertTyperCard1
{
      width: 30%;
      min-height: 400px;
      background-image: url(../img/IsClassic.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 10px 10px;
}

/*------------Først Vores Dessert Card hover stuff --------------------------------------------------*/
.DessertTyperCard1:hover .MenuCardsText
{
    display: block;
    background-color: rgb(124, 173, 206, 0.8);
}
.DessertCardArabisk .MenuCardsText
{
    display:none;
    padding: 10px;
    color: white;
    font-size: 18px;
    min-height: 100%;
}
.DessertTyperCard1 h4
{
    text-align: center;
    color: white;  
}
.DessertTyperCard1:hover h4
{
    text-align: center;
    color: white;
    background-color: rgb(124, 173, 206, 0.8);
}

/*------ Andet Card ----------------------------------------------------------------------*/
.DessertTyperCard2
{
      width: 30%;
      min-height: 300px;
      background-image: url(../img/IsRoll.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      margin: 10px 10px;
}

/*----------Andet Vores Dessert Card hover stuff----------------------------------------*/
.DessertTyperCard2:hover .MenuCardsText
{
    display: block;
    background-color: rgb(124, 173, 206, 0.8);
}
.DessertCardKlassiskIs .MenuCardsText
{
    display:none;
    padding: 10px;
    color: white;
    font-size: 18px;
    min-height: 100%;
}
.DessertTyperCard2 h4
{
    text-align: center;
    color: white;  
}
.DessertTyperCard2:hover h4
{
    text-align: center;
    color: white;
    background-color: rgb(124, 173, 206, 0.8);
}
/*------ Treje Card ----------------------------------------------------------------------*/
.DessertTyperCard3
{
      width: 30%;
      min-height: 300px;
      background-image: url(../img/ArabiskDessert.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      margin: 10px 10px;
}
/*----------Treje Vores Dessert Card hover stuff----------------------------------------*/
.DessertTyperCard3:hover .MenuCardsText
{
    display: block;
    background-color: rgb(124, 173, 206, 0.8);
}
.DessertCardIsRolls .MenuCardsText
{
    display:none;
    padding: 10px;
    color: white;
    font-size: 18px;
    min-height: 100%;
}
.DessertTyperCard3 h4
{
    text-align: center;
    color: white;  
}
.DessertTyperCard3:hover h4
{
    text-align: center;
    color: white;
    background-color: rgb(124, 173, 206, 0.8);
}

.VeganskInfoContainer
{
    width: 100%;
    min-height: 100px;
    margin: auto auto;
    background-color: rgb(0, 66, 102);
    color: white;
}

.VeganskInfo
{
    width: 50%;
    min-height: 400px;
    background-color: rgb(237, 242, 251);
    background-image:  url(../img/Guff.png);
    background-size: 25%;
    color: rgb(0, 66, 102);
    background-repeat: no-repeat;
    margin: auto auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
.VeganInfoText
{
    padding: 20px;
    width:70%;
    height:auto;
    float:right;
}


@media screen and (max-width: 870px) 
{
    .MenuBoardContainer
{
    width: 100%;
    min-height: 40vh;
    padding-top: 20px;
    color: white;
    background-image: none;
    /*position: relative;*/
    padding-bottom: 30px;
    background-color: rgb(0, 66, 102);
}
    .StorMenuTekstKort
    {
        display:none;
    }
    .LilleMenuTekstKort
    {
        display:block;
        width: 100%;
        height: auto;
        margin: 50px 0px;
        border:  5px solid white;
        border-radius: 40px;
    }
    .DessertTyperCardContainer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        flex-wrap: wrap;
        font-size: 30px;
        width: 100%;
        min-height: 200px;
        background-color: #ffffff;
    }

    .DessertTyperCard
    {
        width: 100%;
        min-height: 300px;
        background-color: cornflowerblue;
        margin: 10px 10px;
        padding: 10px;
    }
    .VeganskInfoContainer
    {
        width: 100%;
        min-height: 100px;
        margin: auto auto;
        background-color: rgb(0, 66, 102);
        color: white;
    }

    .VeganskInfo
    {
        width: 50%;
        min-height: 400px;
        background-color: rgb(237, 242, 251);
        background-image:  url(../img/Guff.png);
        background-size: 25%;
        color: rgb(0, 66, 102);
        background-repeat: no-repeat;
        margin: auto auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .VeganInfoText
    {
        padding: 20px;
        width:70%;
        height:auto;
        float:right;
    }


    /*Cards mobil størrelse*/
    .DessertTyperCard1
    {
          width: 100%;
          min-height: 300px;
          background-image: url(../img/ArabiskDessert.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
          margin: 10px 10px;
    }
    .DessertTyperCard2
{
      width: 100%;
      min-height: 300px;
      background-image: url(../img/IsClassic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      margin: 10px 10px;
}
.DessertTyperCard3
{
      width: 100%;
      min-height: 300px;
      background-image: url(../img/IsRoll.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      margin: 10px 10px;
}




}