/* her nulstille vi basic tags*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Sulphur Point', sans-serif;
  }
  body 
  {
    margin: 0;
    padding: 0;
    font-family: 'Sulphur Point', sans-serif;
  }



.ContentContainer
{
    width: 100%;
    height: 100%;
    background-color:azure;
    margin: auto;
}

/*----- start på navigation bar --------------------------------------------------- start på navigation bar-------*/

/*Her sætter vi en gradient baggrund ind for at lave den fede baggrund som så også kan skaleres til en hvis grad.*/
  .navigation 
  {
    background-image: url(../img/BGGradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .navigation > .container 
  {
    max-width: 90%;
    margin: auto;
  }
  .navigation .navbar 
  {
    position: relative;
  }
  .navigation .navbar .logo-toggle-container 
  {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
  }
  .navigation .navbar .logo-toggle-container a 
  {
    display: block;
  }
  .navigation .navbar .logo-toggle-container a img 
  {
    width: 120px;
  }
  .navigation .menu 
  {
    text-align: right;
  }

  /*Her skifter vi struktur i forhold til skærmstørrelse vis der er minimum 1024px bred.*/
  @media screen and (min-width: 1101px) 
  {
    .navigation .menu {
      display: block !important;
      height: auto !important;
    }
}
  .navigation .menu li 
  {
    display: inline-block;
    padding: 43px 10px;
  }
  .navigation .menu li a 
  {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    font-size: 30px;
  }
  /*Her siger vi at de to første li'er som er i .menu til at float left da de er alle normalt sat til højre
  og på den måde for vi del Navigation baren til at være splittet op som ønsket.*/
  .navigation .menu li:nth-child(1),
  .navigation .menu li:nth-child(2) 
  {
    float: left;
  }

  .navigation .menu li:hover a {
    background-color: rgb(105, 144, 253);
    color: #fff;
  }

  @media screen and (min-width: 871px) and (max-width: 1100px)
  {
    .navigation .menu li a 
    {
      font-size: 20px;
    }
  }

  /*Her skifter vi struktur i forhold til skærmstørrelse vis den er mindre end 870px bred.*/
  @media screen and (max-width: 870px) 
  {
    .navigation
    {
      width: 100%;
      height: 100%;
      top: 0;
      position: sticky;
    }
    .navigation .navbar .logo-toggle-container {
      position: static;
      transform: translateX(0%);
    }
    .navigation .navbar .logo-toggle-container a {
      width: 80%;
    }
    .navigation .navbar .logo-toggle-container .toggle-box {
      position: absolute;
      right: 10px;
      top: 35px;
      display: block;
      width: 50px;
      padding: 15px 9px;
      cursor: pointer;
      border-radius: 5px;
    }
    .navigation .navbar .logo-toggle-container .toggle-box span {
      display: block;
      max-width: 90%;
      margin: auto;
      height: 8px;
      background-color: rgb(255, 255, 255);
      margin-bottom: 6px;
      border-radius: 10px;
    }
    .navigation .navbar .logo-toggle-container .toggle-box span:last-child {
      margin-bottom: 0;
    }
    .navigation .menu {
      text-align: center;
      display: none;
    }
    .navigation .menu li {
      display: block;
      float: none !important;
      padding: 0 10px;
      border-bottom: 5px solid rgb(255, 255, 255);
      border-radius: 5px;
    }
    /* Her ændre vi den sidste li i drop down menuen, så at den ikke har en border-bund som resten har. */
    .navigation .menu li:last-child {
        display: block;
        float: none !important;
        padding: 0 10px;
        border-bottom:none;
        
      }
    .navigation .menu li a
    {
        font-size: 30px;
    }
  }
  
/*----- Slut på navigation bar --------------------------------------------------- slut på navigation bar-------*/

/**/

.VelkommenSection1
{
  width: 100%;
  height: 90vh;
  background-color: aquamarine;
}

.VelkommenSection2
{
  width: 100%;
  height: 90vh;
  background-color: rgb(255, 127, 127);
}

.VelkommenSection3
{
  width: 100%;
  height: 90vh;
  background-color: rgb(255, 253, 127);
}






















